.github
.git
*.md
.vscode
.gitignore
.env*
!.env.example
Makefile
docs
.eslintcache
.gocache
/web/node_modules
/web/dist
/frontend/node_modules
/frontend/**/node_modules
/frontend/**/dist
/frontend/coverage
/.local-tests
!THIRD-PARTY-LICENSES.md
